[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apiclient = "==1.0.4"
flask = "==1.1.2"
google-api-python-client = "==1.12.8"
bs4 = "==0.0.1"
"dislash.py" = "==1.2.3"
lxml = "==4.9.1"
"discord.py" = "==1.7.3"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
